.map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ol-search {
  top: 3em;
  left: 3.5em;
}
.ol-print {
  left: 3.5em!important;
}

.ol-control button {
  font-size: 1.5em;
}
.ol-rotate {
  right: 4em;
}
.ol-layerswitcher > button {
  font-size: 2.5em;
}